.form-flow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--gray-color-4);
  height: 100%;
  padding: 60px 40px 0 40px;
  box-sizing: border-box;
}

.xsmall .form-flow,
.small .form-flow {
  padding: 40px 10px 0 10px;
}

.form-flow-top {
  position: relative;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 20px;
}

.small .form-flow-top,
.xsmall .form-flow-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-flow-icon {
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.form-flow-icon svg {
  display: block;
}

.xsmall .form-flow-icon svg,
.small .form-flow-icon svg {
  width: 80px;
  height: auto;
}

.form-flow-content {
  display: flex;
  gap: 10px;
  overflow-y: auto;
}
