.form-navigation {
  background-color: var(--white-color);
  border-radius: 10px;
  flex: 0 0 250px;
}

.form-navigation .ant-collapse-header {
  border-radius: 0 !important;
  border-bottom: 1px solid var(--gray-color-3) !important;
}

.form-navigation .ant-collapse-content-box {
  padding: 0 !important;
}

.form-navigation-l2 {
  padding: 16px 20px 16px 40px;
  border-bottom: 1px solid var(--gray-color-3);
}
