.form-content-preForm {
  position: relative;
  width: 100%;
  font-size: var(--font-size-p2);
  flex-grow: 1;
  overflow-y: auto;
  max-width: 1460px;
}

.form-content-header-preForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 20px 40px;
  background-color: var(--white-color);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--gray-color-4);
}

.xsmall .form-content-header-preForm,
.small .form-content-header-preForm {
  padding: 30px 20px;
}

.form-content-form-preForm {
  padding: 0;
  background-color: var(--white-color);
}

.xsmall .form-content-form-preForm,
.small .form-content-form-preForm {
  padding: 20px;
}

.field-section-preForm {
  padding: 30px 40px;
  margin: 0;
  border-bottom: 1px solid var(--gray-color-4);
}
.form-content-form-preForm > div {
  margin-bottom: 0;
}
.field-input-preForm {
  width: 250px;
  border-radius: 3px;
}

.form-content-controls-preForm {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: var(--white-color);
  border-radius: 0 0 10px 10px;
  border-top: 0;
}

.xsmall .form-content-controls-preForm,
.small .form-content-controls-preForm {
  padding: 20px 10px;
}

.form-content-controls-preForm button {
  width: 100px;
}

.email-modal-preForm {
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
}

.email-modal-content-preForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 30rem;
  height: 20rem;
}

.email-input-preForm {
  margin-bottom: 20px;
}

.email-send-button-preForm {
  width: 100px;
}
