.case-card-container {
  max-width: 450px;
  position: relative;
}


.case-card-caseIcon > svg {
  border-bottom: 1px solid var(--gray-color-3);
  height: auto;
}
.case-card-status {
  position: absolute;
  text-align: center;
  width: 50px;
  margin: 0 0 0 380px;
  padding: 5px 10px;
  border-top-right-radius: 10px;
  background-color: var(--primary-color-trans1);
}

.case-card-content {
  padding: 10px 30px 20px 40px;
}
.case-card-bottom {
  border-top: 1px solid var(--gray-color-3);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.case-card-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 30px;
}

.xsmall .case-card-title {
  flex-direction: column;
}

.case-card-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.case-card-caseName {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
}
.case-card-name-input {
  /* height: 35px; */
  width: 250px;
}
.case-card-name-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-card-progress {
  width: 150px;
  position: relative;
  background-color: var(--gray-color-4);
  padding: 5px 10px;
  border-radius: 5px;
}

.case-card-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color-trans1);
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.case-card-progress-text {
  position: relative;
  z-index: 1;
}

.case-card-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
}

.delete-confirm-modal-container {
  margin-top: 12px;
}
