.dashboard {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color-4);
  height: 100%;
  padding: 20px 40px;
  /* min-width: 1000px; */
}

.dashboard h2 {
  margin-bottom: 20px;
}

.dashboard-header {
  /* max-width: 1390px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h2 {
  margin-bottom: 0;
}

.dashboard-toolbar {
  /* max-width: 1390px; */
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.dashboard-search-input {
  border-radius: 2px;
}
.dashboard-search-button {
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  /* margin-left: 10px; */
  height: 40px;
  width: 100px;
}

.dashboard-view-toggle {
  font-size: 24px;

  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;

  padding: 7px;
}

.dashboard-sort {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-3);
}
.dashboard-sort-toggle {
  font-size: 20px;
  padding: 3px 7px;
  color: var(--primary-color);
  border-left: 1px solid var(--gray-color-3);
}

.dashboard-panel {
  border-radius: 10px;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 20px;
  flex-flow: wrap;
  overflow-y: auto;
  padding-bottom: 40px;
}

.dashboard-panel.no-application {
  background-color: var(--white-color);
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-panel.has-application > div {
  background-color: var(--white-color);
  flex: 0 0 35%;
  border-radius: 10px;
}

.medium .dashboard-panel.has-application > div {
  flex: 0 0 55%;
}

.small .dashboard-panel.has-application > div,
.xsmall .dashboard-panel.has-application > div {
  flex: 0 0 100%;
}

/* .dashboard-panel.has-application > div svg {
  border-bottom: 1px solid var(--gray-color-3);
} */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 20px 0 35px 0;
  position: relative;
  bottom: 0;
}
