:root {
  --primary-color: #27ae60;
  --primary-color-light: rgba(39, 174, 96, 0.1);
  --primary-color-light-notrans: #ebf7ef;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f2f2f2;
  --dark-color: #343a40;
  --white-color: #ffffff;
  --white-color-transparent-1: rgba(255, 255, 255, 0.2);
  --white-color-transparent-2: rgba(255, 255, 255, 0.4);
  --black-color: #000000;
  --gray-color-1: #333333;
  --gray-color-2: #828282;
  --gray-color-3: #e0e0e0;
  --gray-color-4: #f2f2f2;
  --gray-color-5: #4f4f4f;
  --body-bg: #f8f9fa;
  --body-color: #212529;
  --border-radius: 0.25rem;
  --transition: all 0.5s ease-in-out;
  --font-weight-bold: 600;
  --font-size-h2: 40px;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-p1: 20px;
  --font-size-p2: 16px;
  --shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --shadow-green: 0 6px 16px 0 rgba(39, 174, 96, 0.2),
    0 3px 6px -4px rgba(39, 174, 96, 0.12),
    0 9px 28px 8px rgba(39, 174, 96, 0.05);
}

.font-bold {
  font-weight: 600;
}

.font-gray {
  color: var(--gray-color-2);
}

.single-line {
  display: flex;
  gap: 10px;
  align-items: center;
}
