.custom-card {
  background-color: white;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button {
  border: 1px solid #f2994a;
  background-color: white;
  color: #f2994a;
  margin-left: 8px;
  font-size: 14px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
