.placeholder-section {
  padding: 16px;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.placeholder-section h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.filling-details {
  margin-top: 16px;
}

.progress-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.progress-item .progress-title {
  margin-left: 8px;
  flex: 1;
  display: flex;
  align-items: center;
}

.progress-item .go-complete {
  color: #fa8c16;
  cursor: pointer;
}

.custom-percentage-tag {
  background-color: #f2f2f2 !important;
  color: #828282 !important;
  margin-left: 5px;
}

.expanded-card-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.expanded-card-container .extended-line {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.expanded-card {
  width: 100%;
  margin-left: 28px;
  margin-top: 15px;
}

.expanded-card .ant-card {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: calc(100% - 28px);
}

.expand-icon {
  margin-left: 8px;
}
