.lang-container {
  position: relative;
  padding: 10px 10px;
  border-radius: 5px;
  width: 80px;
}

.lang-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.popup {
  background-color: var(--gray-color-4);
}

.lang-popup {
  position: absolute;
  top: 46px;
  right: 0px;
  background-color: var(--white-color);
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.lang-option {
  padding: 10px 20px;
  cursor: pointer;
  width: 60px;
}
