.menu-container {
  position: relative;
  padding: 17px;
}

.small .menu-container {
  width: auto;
}

.menu-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.popup {
  background-color: var(--light-color);
}

.menu-popup {
  position: absolute;
  top: 52px;
  right: 0px;
  background-color: var(--white-color);
  box-shadow: var(--shadow);
  border-radius: 5px;
  width: 136px;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
