.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.small .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
}

.navbar-group {
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 50px;
}

.navbar-logo-link {
  align-items: flex-end;
  display: flex;
}

.navbar-profile {
  margin-left: 20px;
}
