.navbar-container {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.navbar-container-homepage {
  background-color: var(--white-color);
}

.xsmall .navbar-container,
.small .navbar-container {
  display: flex;
  align-items: center;
  padding: 16px;
}

.navbar-container.form-nav {
  padding: 15px 10px 0 0;
}

.navbar-group {
  display: flex;
  align-items: center;
}
.navbar-group.left {
  justify-content: flex-start;
}
.navbar-group.mid {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-group.right {
  width: 300px;
  justify-content: flex-end;
}

.xsmall .navbar-group,
.small .navbar-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  margin-right: 0;
}

.navbar-links {
  display: flex;
  padding-left: 30px;
  align-items: center;
}
.small .navbar-links,
.xsmall .navbar-links {
  display: none;
}
.navbar-link {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
}
.large .navbar-link {
  font-size: 24px;
  padding: 0 20px;
  margin-bottom: 5px;
}

.navbar-logo-link {
  align-items: flex-end;
  display: flex;
}
.navbar-button {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 5px;
  border-left: 1px solid var(--gray-color-3);
  border-right: 1px solid var(--gray-color-3);
}
.nav-link-login {
  color: var(--dark-color);
  font-weight: 400;
  width: 60px;
  padding: 0;
}
.large .nav-link-login {
  font-size: 20px;
  font-weight: 500;
}
.nav-btn-demo {
  margin: 0 10px;
}
.nav-btn-demo:hover {
  color: var(--primary-color) !important;
  background: var(--primary-color-background) !important;
}
.nav-btn-dashboard {
  margin: 0 5px;
  height: 38px;
}
.navbar-profile {
}
.navbar-profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1.5px solid var(--gray-color-3);
  border-radius: 50px;
  padding: 0 5px;
  margin-left: 10px;
}
