.home-data-showcase {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-color-4);
  width: 1150px;
  gap: 40px;
  padding: 120px 0 160px;
}

.hd-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hd-title {
  padding: 0;
  color: var(--dark-gray-color);
}

.hd-section {
  padding: 0;
}

.hd-text-block {
  border-left: 1px solid var(--dark-gray-color);
  padding: 10px 40px;
}
.hd-text-block > h3 {
  color: var(--dark-gray-color);
}

.text-block-title.hd-text-block {
  color: var(--dark-gray-color);
}
.text-block-description.hd-text-block {
  border: none;
  padding: 10px 0 0 0;
  font-weight: 700;
  color: var(--dark-gray-color);
}
