.home-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 72px);
  position: sticky;
  top: 0;
}

.top-section {
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #eefff6 0%, #ffffff 22.5%, #ffffff 72.5%, #eefff7 99.99%);
}

.first-home-button {
  z-index: 1;
  color: var(--white-color) !important;
  background: var(--primary-color) !important;
  width: 160px;
  height: 40px;
  margin: 0 !important;
}
.first-home-button:hover {
  color: var(--primary-color) !important;
  background: var(--primary-color-background) !important;
}

.home-section.center.first {
  padding: 100px 0;
}
.xsmall .home-section.center.first,
.small .home-section.center.first {
  padding: 80px 0 0;
}

.home-section {
  display: flex;
}

.home-section.center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-image {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: -10%;
}

.border-bottom-2px {
  border-bottom: 2px solid var(--black-color);
}

.home-image {
  width: 100%;
  height: 100%;
  line-height: 0;
}

.landing-page-title {
  width: 50%;
  margin: 20px 0 40px;
}

.xsmall .landing-page-title,
.small .landing-page-title {
  width: 60%;
}
.large .landing-page-title {
  width: 40%;
}

.cn.large .landing-page-title {
  width: 30%;
}

.buildings {
  width: 30%;
  margin-bottom: -2px;
  max-width: 600px;
}

.liberty {
  width: 40%;
  margin-bottom: -2px;
  max-width: 800px;
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 10px 0 40px 0;
  text-align: center;
}

.xsmall .home-text,
.small .home-text {
  width: 60%;
}

.en .fast-track-description {
  color: var(--gray-color-1);
}

.cn .fast-track-description {
  color: var(--gray-color-2);
}

.home-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-video-player {
  padding: 60px 0;
  width: 850px;
  height: 495px;
}
.xsmall .home-video-player,
.small .home-video-player {
  padding: 30px 0;
  width: 450px;
  height: 260px;
}
.large .home-video-player {
  padding: 80px 0;
  width: 1200px;
  height: 700px;
}

.home-video-player iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
