.form-input-container {
  position: relative;
}

.input-form {
  position: relative;
  margin-bottom: 40px;
}

.input-required-mark {
  position: absolute;
  color: var(--danger-color);
  top: 0;
  right: -10px;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
  margin-right: 5px;
}

.form-input-container .error-message {
  position: absolute;
  top: 38px;
}

.text-box {
  max-width: 250px;
  width: 100%;
}

.dropdown-container {
  max-width: 400px;
  width: 100%;
  margin: 20px 0;
}

.dropdown-inner {
  width: 100%;
}

.dropdown-inner-uploader {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-box{
  max-width: 250px;
  width: 100%;
}

.select-box .ant-select{
  width: 100%;
}

.select-box .ant-select .ant-select-selector{
  border-radius: 4px !important;
}
