.monthyearpicker-with-present {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.monthyearpicker-with-present-picker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.monthyearpicker-with-present-btn {
  color: var(--gray-color-2);
}

.monthyearpicker-with-present-btn:disabled {
  background: none;
}
