.passport-uploader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.passport-uploader-inner {
  width: 100px;
  height: 100px;
  background-color: var(--upload-btn-background);
  border: var(--upload-btn-border);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passport-uploader-inner:hover {
  border-color: var(--upload-btn-hover);
}
