.text-area-container {
  display: flex;
  flex-direction: row;
}

.text-area-before {
  width: 100%;
  border: 1px solid var(--gray-color-3);
  border-radius: 3px;
  padding: 5px 10px;
}

.text-area-after {
  width: 50%;
  border: 1px solid var(--gray-color-3);
  border-radius: 3px;
  padding: 5px 10px;
}
.text-area-refined-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text-area-button {
  color: var(--primary-color);
  background-color: var(--primary-color-light);
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.text-area-button-discard {
  color: var(--secondary-color);
  border: 1px solid var(--gray-color-2);
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.text-area-button-discard:hover {
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
}

.text-area-input {
  padding: 5px !important;
}
