.form-input-container {
  position: relative;
}

.input-form {
  position: relative;
  margin-bottom: 40px;
}

.input-required-mark {
  position: absolute;
  color: var(--danger-color);
  top: 0;
  right: -10px;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
  margin-right: 5px;
}

.form-input-container .error-message {
  position: absolute;
  top: 38px;
}
