.error-message {
  color: var(--danger-color);
  font-size: var(--font-size-p3);
  line-height: var(--line-height-p3);
  margin-top: 5px;
}

.normal {
  font-size: var(--font-size-p2);
}

.secondary {
  color: var(--gray-color-6);
}
