.error-message {
  color: var(--danger-color);
  font-size: var(--font-size-p3);
  line-height: var(--line-height-p3);
  margin-top: 5px;
}

.text.secondary {
  color: var(--gray-color-6);
}

.text.gray {
  color: var(--gray-color-7);
}

.text.xlarge {
  font-weight: 600;
  font-size: var(--font-size-h2-small);
}

.xsmall .text.xlarge,
.small .text.xlarge {
  font-size: var(--font-size-h3);
}

.text.large {
  font-weight: 600;
  font-size: var(--font-size-h3);
}

.text.medium {
  font-size: var(--font-size-p1);
}

.text.small {
  font-size: var(--font-size-p2);
}

.text.xsmall {
  font-size: var(--font-size-p3);
}

.text.normal {
  font-size: var(--font-size-p2);
}

.text.normal.bold {
  font-size: var(--font-size-p2);
  font-weight: 600;
}

.text.margin-bottom-10 {
  margin-bottom: 10px;
}

.text.primary {
  color: var(--primary-color);
}

.single-line {
  display: flex;
  gap: 10px;
}

.text.field-label {
  font-size: var(--font-size-p2);
  font-weight: 600;
  margin-bottom: 5px;
}

.text.placeholder {
  color: var(--gray-color-7);
  font-size: var(--inline-placeholder);
}
