.sortable-section-add-content {
  padding: 20px 0;
  border-top: var(--border);
}

.sortable-section-add-content > div {
  margin-bottom: 20px;
}

.sortable-section-add-content > .section-popup .text-box {
  max-width: 100%;
}

.sortable-section-add-footer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px 0 0;
  border-top: var(--border);
}
